.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.Pictures {
  margin: 10px;
}
img {
  margin: 5px;
  display: inline;
}

.Board {
  width: 500px;
  height: 200px;
  border: 2px solid black;

}
