@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* card styling */
.card {
  @apply max-w-sm rounded overflow-hidden shadow-lg bg-sky m-2
}

.card__container {
  @apply px-2 py-4
}

.card__title {
  @apply font-bold text-xl text-white 
}

.card__text-area {
  @apply shadow-sm mt-4 block w-full h-32 p-4 lg:text-lg rounded-md bg-sky-light text-white
}

.card__dropdown {
  @apply inline-block bg-sky-light rounded px-3 py-1 text-sm font-semibold m-2 text-white
}


.button {
  @apply shadow-lg text-sky font-semibold py-1 px-4 rounded shadow m-2
}

.confirm {
  @apply bg-confirm
}

.cancel {
  @apply bg-cancel
}

